#confirm .personal-information .payment_method .hyperchargedata { left: 240px }
#confirm .personal-information .payment_method .hyperchargedata label {
    display: block;
    float: left;
    width: 150px;
    padding-top: 6px;
}
#confirm .personal-information .payment_method .hyperchargedata .text { width: 315px }
#confirm .personal-information .payment_method .hyperchargedata input#cvv { width:3em !important; }
#confirm .personal-information .payment_method .hyperchargedata .cvv-what-is-this { 
    font-size:11px; 
    cursor:help; 
    margin-left:10px; 
}

.tool-tip { right:30px; }
.tool-tip { border:1px solid #7BA7C9; background:#EAF6FF; padding:15px 20px; position:absolute; z-index:9999; }
.tool-tip .btn-close { margin:-9px -14px 0; text-align:right; }
.tool-tip .btn-close a { display:block; margin:0 0 0 auto; width:15px; height:15px; background:url(../images/btn_window_close.gif) 100% 0 no-repeat; text-align:left; text-indent:-999em; overflow:hidden; }
.tool-tip .tool-tip-content { padding:5px; }

.errorlist {
    color: #eb340a;
    white-space:nowrap;
}

.grid_13 .error h2 {
    color: #8a1f11;
    margin: 0 0 10px 0;
    padding: 0 0 0px 0;
    border-bottom: 1px solid #df7373;
    font-weight: bold;
}

/*body .outer-select {
	width: 150px !important;
}*/